/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url('assets/images/bixby-bridge-viewport-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/* Animations */
/* @keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */

/* site styles */

.container {
  width: 100%;
  height: 100%;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

.card {
  width: 750px;
  background: rgba(45, 45, 45, 0.67);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  /* max-height: 90vh;
  overflow-x: scroll; */
}

@media (max-width: 768px) {
  .container {
    padding: 16px;
  }
  .card {
    /* width: 95%; */
    width: 95%;
    min-width: 95%;
    padding: 16px 32px; /* Adjust padding for smaller screens */
  }
}

.separator {
  width: 67%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(195, 192, 160, 1) 0%,
    rgba(135, 241, 255, 1) 50%,
    rgba(187, 107, 0, 1) 100%
  );
  border-radius: 5px;
}

.profile-section {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
}

.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 5px dotted #c3c0a0;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.avatar:hover {
  transform: scale(1.1);
}

.info {
  flex: 1;
  align-items: flex-start;
  gap: 16px;
}

.info h1 {
  font-size: 42px;
  font-weight: 800;

  /* background: linear-gradient(
    90deg,
    rgba(195, 192, 160, 1) 0%,
    rgba(135, 241, 255, 1) 25%,
    rgba(187, 107, 0, 1) 75%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */

  /* -webkit-text-stroke: 2px black; */
  color: white;
  text-shadow: 3px 3px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 2px 2px 0 #000;
}

.info h2 {
  font-size: 24px;
  font-weight: 400;
}

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}

.icons a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  display: inline-blocl;
  transition: transform 0.2s ease-in-out;
}

.icons a:hover {
  transform: scale(1.2);
}

.whoami-section,
.mywork-section,
.myskills-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.skills-table {
  border-collapse: separate;
  width: 100%;
}
/* tr:nth-child(even) {
    background-color: #dddddd;
  } */
.skills-table td {
  border: 2px solid rgb(0, 0, 0, 0);
  background-color: rgba(155, 155, 155, 0.5);
  padding: 8px;
  border-radius: 4px;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.project-card {
  width: 175px;
  min-width: 175px;
  max-width: 175px;
  height: 250px;
  min-height: 250px;
  max-height: 250px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  color: #4c443c;
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .project-card {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    border-radius: 3px;
    padding: 8px;
  }
}

.project-card:hover {
  /* animation: wiggle 0.5s; */
  transform: scale(1.05);
}

.drem-bg {
  background-image: url('assets/images/drem-labs-background.jpg');
  background-size: cover;
}

.blockchainatscu-bg {
  background-image: url('assets/images/blockchain-at-scu-background.png');
  background-size: cover;
  background-color: antiquewhite;
}

.opal-bg {
  background-image: url('assets/images/opal-background.png');
  background-size: cover;
}

.mark-bg {
  background-color: #f2c078;
}

/* Utility Classes... */

/* Utility Classes for Text Alignment & Typography */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: 800;
}

.text-semi {
  font-weight: 600;
}

.text-italic {
  font-style: italic;
}

/* Utility Classes for Margin */
.m-0 {
  margin: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}

.m-1 {
  margin: 5px !important;
}
.mt-1 {
  margin-top: 5px !important;
}
.mb-1 {
  margin-bottom: 5px !important;
}
.ml-1 {
  margin-left: 5px !important;
}
.mr-1 {
  margin-right: 5px !important;
}

.m-2 {
  margin: 10px !important;
}
.mt-2 {
  margin-top: 10px !important;
}
.mb-2 {
  margin-bottom: 10px !important;
}
.ml-2 {
  margin-left: 10px !important;
}
.mr-2 {
  margin-right: 10px !important;
}

.m-3 {
  margin: 15px !important;
}
.mt-3 {
  margin-top: 15px !important;
}
.mb-3 {
  margin-bottom: 15px !important;
}
.ml-3 {
  margin-left: 15px !important;
}
.mr-3 {
  margin-right: 15px !important;
}

.m-4 {
  margin: 20px !important;
}
.mt-4 {
  margin-top: 20px !important;
}
.mb-4 {
  margin-bottom: 20px !important;
}
.ml-4 {
  margin-left: 20px !important;
}
.mr-4 {
  margin-right: 20px !important;
}

/* Utility Classes for Padding */
.p-0 {
  padding: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}

.p-1 {
  padding: 5px !important;
}
.pt-1 {
  padding-top: 5px !important;
}
.pb-1 {
  padding-bottom: 5px !important;
}
.pl-1 {
  padding-left: 5px !important;
}
.pr-1 {
  padding-right: 5px !important;
}

.p-2 {
  padding: 10px !important;
}
.pt-2 {
  padding-top: 10px !important;
}
.pb-2 {
  padding-bottom: 10px !important;
}
.pl-2 {
  padding-left: 10px !important;
}
.pr-2 {
  padding-right: 10px !important;
}

.p-3 {
  padding: 15px !important;
}
.pt-3 {
  padding-top: 15px !important;
}
.pb-3 {
  padding-bottom: 15px !important;
}
.pl-3 {
  padding-left: 15px !important;
}
.pr-3 {
  padding-right: 15px !important;
}

.p-4 {
  padding: 20px !important;
}
.pt-4 {
  padding-top: 20px !important;
}
.pb-4 {
  padding-bottom: 20px !important;
}
.pl-4 {
  padding-left: 20px !important;
}
.pr-4 {
  padding-right: 20px !important;
}

/* Google 'Poppoins' Font Utility Classes */
.poppins-thin {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: italic;
}
