/*############################# RWS #############################*/

@media (max-width: 981px) {
    
  * {
  }
  
  
  /* change to 3 wide rectangles, arranged vertically*/
    .carousel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
    }

    .imglink{
      
    }
  
    .container-1 {
      padding: 10px;
      overflow: scroll;
    }

    .container-3 {
      justify-content: center;
      align-items: center;
      flex-basis: content;
    }
  
    .FG {
      /* width: 95%; */
      padding: 4px 4px; /* Adjust padding for smaller screens */
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .pfp{
      width: 240px;
      height: 240px;
      flex-grow: 2;
    }

    .card {
      height: 250px;
      width: 100%;
      background-position: top right;
    }
  
    body{
      overflow: scroll;
      padding: 0px;
    }

    .p {
      font-size: 38px;
    }

    h1,
h2 {
  font-size: 72px;
  margin-top: 15px;
}


  }