/*############################# RWS #############################*/

@media (max-width: 768px) {
    
  * {

  }
  
  
  /* change to 3 wide rectangles, arranged vertically*/
    .carousel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: fit-content;
    }
  
    .container {
      padding: 10px;
    }
  
    .FG {
      /* width: 95%; */
      width: 100%;
      min-width: 100%;
      padding: 5px 5px; /* Adjust padding for smaller screens */
    }
  
    .card {
      height: 250px;
      width: 90%;
    }
  
    body{
      overflow: scroll;
    }


  }