/*############################# RWS #############################*/

@media (max-width: 768px) {
    /* change to 3 wide rectangles, arranged vertically*/
    .carousel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: fit-content;
    }
  
    .container {
      padding: 16px;
    }
  
    .FG {
      /* width: 95%; */
      width: 95%;
      min-width: 95%;
      padding: 16px 32px; /* Adjust padding for smaller screens */
    }
  
    .card {
      height: 250px;
      width: 90%;
    }
  
    body{
      overflow: scroll;
    }
  }